<h2><%= @user.email %></h2>

<ul>
  <% @user.subscriptions.each do |subscription| %>
    <li>
      <%= link_to subscription["title"], subscription["site_url"] %>
    </li>
  <% end %>
</ul>

<div class="meta">
  <h3>user meta</h3>
  <ul>
    <li>
      <%= link_to "Edit", edit_user_path(@user) %>
    </li>
    <li>
      <%= link_to "Destroy", user_path(@user), :method => "delete", :"data-confirm" => "you sure?" %>
    </li>
  </ul>
</div>